@page "/Pacientes"
@using FichaAtendimento.Shared.Model
@inject HttpClient Http
@inject NavigationManager NavigationManager


<style>
    .topMenu {
        display: inline;
        margin-right: 30px;
        align-self: center;
    }

    .infoMsg {
        margin-top: 30px;
    }

    .dropdown {
        margin-bottom: 10px;
    }
</style>

<div style="display: inline-flex">
    <h1 style="text-decoration:underline" class="topMenu">Patients</h1>
    <button @onclick="@NewPaciente" class="btn btn-primary topMenu">ADD PATIENT</button>
</div>


@if (pacientesArr == null)
{
    <div class="infoMsg">
        <h3>There are currently no patients!</h3>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Patient</th>
                <th>Birth Date</th>
                <th>Address</th>
                <th>Profession</th>
                <th>Phone</th>
                <th>Email</th>
                <th>ID (CPF)</th>
                <th>RG</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var paciente in sortedPacientesArr)
            {
                <tr>
                    <td>@paciente.NomePaciente</td>
                    <td>@paciente.DataNascimento.ToShortDateString()</td>
                    <td>@paciente.Endereco</td>
                    <td>@paciente.Profissao</td>
                    <td>@paciente.Telefone</td>
                    <td>@paciente.Email</td>
                    <td>@paciente.CPF</td>
                    <td>@paciente.RG</td>
                    <td>
                        <a class="nav-link" href="EditPaciente/@paciente.idPaciente">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                        </a>
                        <a class="nav-link" href="RemovePaciente/@paciente.idPaciente">
                            <span class="oi oi-trash" aria-hidden="true"></span> Remove
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}